$light-white: #eee;
$hover-white:#d8d7d7;
$pure-white: #fff;
$dark: #2e2e2e;
$main-color: #1755e7;
$secondary-color: #164dcc;
$gradient-blue: linear-gradient(#00bcd4,#e91e63,#3f51b5,#00bcd4);
$bcg-header: #000942;
$yellow:#FFFF00;
$yellow-hover:#ffd700;